<section class="section">
  <h1 class="title">add a new appointment</h1>
  <div class="columns is-centered">
    <div class="column is-half">
      <%= form_with model: @appointment, url: "/appointments", method: :post do |form| %>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= form.label :title, "Title ", class: 'label' %>
        </div>
        <div class="field-body mx-2">
          <div class="field">
          <%= form.text_field :title, class: 'input', type: 'text', placeholder: 'ssd' %>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= form.label :start, "Start ", class: 'label' %>
        </div>
        <div class="field-body">
          <div class="field mx-2">
          <%= form.time_field :start_time, class: 'input' %>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <%= form.date_field :start_date, class: 'input', placeholder: 'yyyy/mm/dd' %>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= form.label :end, "End ", class: 'label' %>
        </div>
        <div class="field-body">
          <div class="field mx-2">
            <%= form.time_field :end_time, class: 'input' %>
          </div>
          <div class="field">
            <p class="control is-expanded">
            <%= form.date_field :end_date, class: 'input', placeholder: 'yyyy/mm/dd' %>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body mx-2">
          <%= form.submit  "Add a new event", class: "button" %>
        </div>
      </div>
  <% end %>
    </div>
  </div>
</section>
